{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ text }}</title>
    <style>
        @font-face {
            font-family: 'nastalig';
            src: url('{% static 'fonts/IranNastaliq.ttf' %}');
        }

        body {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100vh;
            font-family: "nastalig";
            font-size: 150px;
        }
    </style>
</head>
<body>
<h1>
    {{ text }}
</h1>
</body>
</html>