{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/headers.html' %}
    {% block header %}
    {% endblock %}
</head>
<body>
<div class="menuContainer">
    <div class="openandclosebtn"><i class="fa-solid fa-bars" style="color: #ffffff;"></i></div>
    <div class="shortcuts">
        <a href="{% url 'userpanel' %}" title="خانه">
            <i class="fa-solid fa-house"></i>
        </a>
        <a href="{% url 'search' %}" title="جستجو">
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>
        <a href="{% url 'setting' %}" title="تنظیمات">
            <i class="fa-solid fa-gear"></i>
        </a>
    </div>
    <div class="menudetils">
        <div class="userProfile">
            <img src="{% static 'images/blankuser.webp' %}" alt="">
            <h5><span>{{ username }}</span>خوش آمدید </h5>
        </div>
        <div class="menu">
            <a href="{% url 'userpanel' %}">
                <h5>صفحه اصلی</h5>
            </a>
            <a href="{% url 'search' %}">
                <h5>جستجو</h5>
            </a>
            <a href="{% url 'ads_home_page' %}">
                <h5>صفحه اصلی تبلیغات</h5>
            </a>
            <a href="">
                <h5>مشاهده تبلیغات</h5>
            </a>
            <a href="{% url 'sub_add_req' %}">
                <h5>ثبت تبلیغات</h5>
            </a>
            <a href="">
                <h5>گزاش تبلیغات</h5>
            </a>
            <a href="">
                <h5>ارسال تیکت</h5>
            </a>
            <a href="">
                <h5>چت آنلاین</h5>
            </a>
            <a href="">
                <h5>خیریه</h5>
            </a>
            <a href="{% url 'setting' %}">
                <h5>تنظیمات</h5>
            </a>
        </div>
    </div>
</div>
<div class="objcontainer">
    <div class="objectsbar">
        <div class="notifandlogo">
            <img src="{% static 'images/c2_logo_purple.png' %}" alt="">
            <div class="notif">
                <i class="fa-solid fa-bell" style="color: #ffffff;"></i>
                <div class="notifcounter">1</div>
            </div>
        </div>
    </div>
    <div class="objects">
        {% block object %}
        {% endblock %}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="{% static 'js/chart.js' %}"></script>
</body>
</html>