{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="{% static 'css/root_theme.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/userpanelres.css' %}">
<script src="https://kit.fontawesome.com/9e31c82e4e.js" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery-3.6.3.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/userpanel.js' %}"></script>
<link rel="icon" type="image/x-icon" href="{% static 'images/c2_logo_purple.png' %}">
<script src="{% static 'js/script.js' %}"></script>
